<h1>Settings</h1>
<ul>
<% @settings.each do |setting| %>
  <li>ID: <%= setting.id %></li>
  <ul>
    <li>Twitter Consumer Key: <%= setting.twitter_consumer_key %></li>
    <li>Twitter Consumer Secret: <%= setting.twitter_consumer_secret %></li>
    <li>Twitter Access Token: <%= setting.twitter_access_token %></li>
    <li>Twitter Access Token Secret: <%= setting.twitter_access_token_secret %></li>
    <li>Twitter Search String: <%= setting.twitter_search_string %></li>
    <li>Alchemy API Key: <%= setting.alchemy_api_key %></li>
  </ul>
<% end %>
</ul>
